<% title "#{title} #{community_name}" %>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0"><%= title %></h1>

    <div class="container-wrapper">
      <div class="a-side">
  <div class="top">
    <div style="flex: 1; height: 100%; width: 100%; position: relative;">
        <div class="box-rotate" style="position: absolute; left: 0; top: 0; bottom: 0; transform: rotate(270deg); text-align: center; height: auto; white-space: nowrap !important; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1>+12rb</h1>
    <p style="color: #8484ff">Anggota Aktif Kami</p>
        </div>
    </div>
    <div style="position: relative; width: 240px; height: 200px; margin: 0 2rem;">
      <div style="position: absolute; left: 20px; top: -20px; border-radius: 16px; border: 4px solid #8484ff; z-index: 11; width: 200px; height: 200px;"></div>
      <div style="border-radius: 16px; overflow: hidden; height: 200px; width: 200px; position: relative;">
        <img src="/media/about-example.jpg" style="width: 100%; height: 100%; object-fit: cover; position: absolute; z-index: 10; margin: 0; padding: 0;" />
      </div>
    </div>
  </div>
  <div class="bottom">
    <div style="position: relative; width: 100%; height: 240px; margin: 0 2rem;">
      <div style="border-radius: 16px; overflow: hidden; height: 100%; width: 100%; position: relative;">
        <img src="/media/about-example.jpg" style="width: 100%; height: 100%; object-fit: cover; position: absolute; z-index: 10; margin: 0; padding: 0;" />
      </div>
    </div>
  </div>
      </div>
      <div class="b-side">
  <div class="bl"><iconify-icon icon="ic:baseline-mouse" style="align: baseline; display: inline-block; margin-right: 0.5rem;"></iconify-icon>Our About</div>
  <h1>We Help our Companies Scale Engineering IT services.</h1>
        <p>lorem aklfnklan lkan klfnakl nfklanlf knalkfn;laknsdflkn alk;wfnlka n;ldksnfl ;aknflk nalenf laknfldaosifn klanfon alsdfnoiw nflkandflkn aowfnlkasdnflaksnfekasofnalsdnfo nown oan indfaklsdfnlaskndfl nalsdnfals;kdnflaksndflk naslkdnfklansdf </p>
        <div class="bottom">
          <div>
      <div><iconify-icon icon="ic:outline-settings" style="align: baseline; display: inline-block; font-size: 64px;"></iconify-icon></div>
      <h1>Lorem Ipsum</h1>
      <p>lorem aklfnklan lkan klfnakl nfklanlf knalkfn;laknsdflkn alk;wfnlka n;ldksnfl ;aknflk nalenf laknfldaosifn klanfon alsdfnoiw nflkandflkn aowfnlkasdnflaksnfekasofnalsdnfo nown oan indfaklsdfnlaskndfl nalsdnfals;kdnflaksndflk naslkdnfklansdf </p>
    </div>
          <div>
      <div><iconify-icon icon="ic:baseline-headset-mic" style="align: baseline; display: inline-block; font-size: 64px;"></iconify-icon></div>
      <h1>Lorem Ipsum</h1>
      <p>lorem aklfnklan lkan klfnakl nfklanlf knalkfn;laknsdflkn alk;wfnlka n;ldksnfl ;aknflk nalenf laknfldaosifn klanfon alsdfnoiw nflkandflkn aowfnlkasdnflaksnfekasofnalsdnfo nown oan indfaklsdfnlaskndfl nalsdnfals;kdnflaksndflk naslkdnfklansdf </p>
    </div>
        </div>
        <div style="margin-top: 1rem; margin-bottom: 2rem; display: flex;">
    <a href="#" style="display: block; width: auto; padding: 1rem; border-radius: 8px; background: #8484ff; color: white; text-decoration: none; font-weight: bold;">More About<iconify-icon icon="ic:baseline-arrow-right-alt" style="align: baseline; display: inline-block; font-size: 24px; margin-left: 0.5rem;"></iconify-icon></a>
        </div>
      </div>
    </div>
    <div class="container-pg">
      <h1 class="h1">Partnership</h1>
      <div class="partnership">
  <div class="item">Logo 1</div>
  <div class="item">Logo 2</div>
  <div class="item">Logo 3</div>
  <div class="item">Logo 4</div>
  <div class="item">Logo 5</div>
  <div class="item">Logo 6</div>
      </div>
    </div>
    <div class="container-pg">
      <div class="bl">
        <iconify-icon icon="ic:baseline-people" style="align: baseline; display: inline-block; margin-right: 0.5rem;"></iconify-icon>Our Team
      </div>
      <h1 class="h1">Team Member</h1>
      <div class="team-wrapper">
  <!-- BEGIN Items #1 -->
  <div class="item">
    <div class="imgg">
        <img src="/media/about-example.jpg" alt="Lorem Ipsum" />
    </div>
    <h3 style="margin: 0.2rem 0;">Lorem Ipsum</h3>
    <span style="font-size: 16px; font-weight: 400;">IT Officer</span>
  </div>
  <!-- EOL Items #1 -->
  <div class="item">
    <div class="imgg">
        <img src="/media/about-example.jpg" alt="Lorem Ipsum" />
    </div>
    <h3 style="margin: 0.2rem 0;">Lorem Ipsum</h3>
    <span style="font-size: 16px; font-weight: 400;">IT Officer</span>
  </div>
  <div class="item">
    <div class="imgg">
        <img src="/media/about-example.jpg" alt="Lorem Ipsum" />
    </div>
    <h3 style="margin: 0.2rem 0;">Lorem Ipsum</h3>
    <span style="font-size: 16px; font-weight: 400;">IT Officer</span>
  </div>
  <div class="item">
    <div class="imgg">
        <img src="/media/about-example.jpg" alt="Lorem Ipsum" />
    </div>
    <h3 style="margin: 0.2rem 0;">Lorem Ipsum</h3>
    <span style="font-size: 16px; font-weight: 400;">IT Officer</span>
  </div>
      </div>
    </div>
    <div class="container-pg">
      <h1 class="h1">Lorem Ipsum</h1>
      <div class="grid-aws-wrapper">
        <div class="grid-aws">
          <div class="first-left">
            a
          </div>
          <div class="first-right">
            b
          </div>
          <div class="second-left-a">
            a
          </div>
          <div class="second-right-a">
            a
          </div>
          <div class="second-right-b">
            b
          </div>
          <div class="second-right-c">
            c
          </div>
          <div class="third-left">
            a
          </div>
          <div class="third-right">
            b
          </div>
        </div>
        <div class="grid-aws-2">
          <div class="first">
            a
          </div>
          <div class="second">
            b
          </div>
          <div class="third">
            c
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.grid-aws-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.grid-aws div, .grid-aws-2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid #8484ff;
}
.grid-aws {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 15px;
  width: 100%;
}
.grid-aws div.first-left {
  grid-row: 2 / 5;
  grid-column: 1 / 3;
}
.grid-aws div.first-right {
  grid-row: 1 / 5;
  grid-column: 3 / 7;
}
.grid-aws div.second-left-a {
  grid-row: 5 / 9;
  grid-column: 1 / 6;
}
.grid-aws div.second-right-a {
  grid-row: 5 / 7;
  grid-column: 6 / 7;
}
.grid-aws div.second-right-b {
  grid-row: 7 / 8;
  grid-column: 6 / 7;
}
.grid-aws div.second-right-c {
  grid-row: 8 / 9;
  grid-column: 6 / 7;
}
.grid-aws div.third-left {
  grid-row: 9 / 11;
  grid-column: 1 / 4;
}
.grid-aws div.third-right {
  grid-row: 9 / 11;
  grid-column: 4 / 7;
}

.grid-aws-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 15px;
  width: 100%;
}
.grid-aws-2 div.first {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}
.grid-aws-2 div.second {
  grid-row: 4 / 8;
  grid-column: 1 / 2;
}
.grid-aws-2 div.third {
  grid-row: 8 / 11;
  grid-column: 1 / 2;
}

.container-wrapper, .container-pg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.container-pg .h1 {
  font-weight: bold;
  font-size: 24px;
  color: #080808;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #8484ff;
}

.team-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.team-wrapper .item {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 180px;
  height: 100%;
}
.team-wrapper .item .imgg {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 16px;
}
.team-wrapper .item .imgg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.container-wrapper .a-side {
  order: 2;
}
.container-wrapper .a-side .top,
.container-wrapper .a-side .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.container-wrapper .a-side .bottom {
  margin-top: 1.5rem;
}
.container-wrapper .a-side .top .box-rotate {
  margin: 0.5rem 0;
  visibility: hidden;
}

.container-wrapper .b-side {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.bl {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: bold;
  font-size: 16px;
  color: #8484ff;
}

.container-wrapper .b-side h1 {
  font-weight: bold;
  font-size: 24px;
  color: #080808;
}

.container-wrapper .b-side p {
  font-weight: 500;
  font-size: 16px;
}

.container-wrapper .b-side .bottom {
  display: flex;
  gap: 1rem;
  justify-content: between;
  align-items: center;
}
.container-wrapper .b-side .bottom div div {
  color: #8484ff;
}
.container-wrapper .b-side .bottom div h1 {
  color: #4242bb;
  margin-bottom: 1rem;
}
.container-wrapper .b-side .bottom div p {
  text-align: justify;
}

.partnership {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.partnership .item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  background: #fbfbfb;
  padding: 1rem;
}

@media screen and (min-width: 576px) {
.container-wrapper .a-side .top .box-rotate {
  visibility: visible;
}
.partnership {
  flex-direction: row;
}
}

@media screen and (min-width: 1024px) {
.grid-aws-wrapper {
  flex-direction: row;
}
.grid-aws {
  width: 80%;
}
.grid-aws-2 {
  width: 20%;
}

.container-wrapper {
  flex-direction: row;
}
.container-wrapper .a-side {
  order: 1;
  width: 50%;
}
.container-wrapper .b-side {
  order: 2;
  width: 50%;
}
}
</style>
